In [69]:
from transformers import pipeline
summarizer = pipeline("summarization")

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/abhishekvaidyanathan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
from transformers import pipeline

# Open and read the article
# f = open("article.txt", "r", encoding="utf8")
to_tokenize = '''Scientists say they have discovered a new species of orangutans on Indonesia’s island of Sumatra.
The population differs in several ways from the two existing orangutan species found in Sumatra and the neighboring island of Borneo.
The orangutans were found inside North Sumatra’s Batang Toru forest, the science publication Current Biology reported.
Researchers named the new species the Tapanuli orangutan. They say the animals are considered a new species because of genetic, skeletal and tooth differences.
Michael Kruetzen is a geneticist with the University of Zurich who has studied the orangutans for several years. He said he was excited to be part of the unusual discovery of a new great ape in the present day. He noted that most great apes are currently considered endangered or severely endangered.
Gorillas, chimpanzees and bonobos also belong to the great ape species.
Orangutan – which means person of the forest in the Indonesian and Malay languages - is the world’s biggest tree-living mammal. The orange-haired animals can move easily among the trees because their arms are longer than their legs. They live more lonely lives than other great apes, spending a lot of time sleeping and eating fruit in the forest.
The new study said fewer than 800 of the newly-described orangutans exist. Their low numbers make the group the most endangered of all the great ape species.
They live within an area covering about 1,000 square kilometers. The population is considered highly vulnerable. That is because the environment which they depend on is greatly threatened by development.
Researchers say if steps are not taken quickly to reduce the current and future threats, the new species could become extinct “within our lifetime.”
Research into the new species began in 2013, when an orangutan protection group in Sumatra found an injured orangutan in an area far away from the other species. The adult male orangutan had been beaten by local villagers and died of his injuries. The complete skull was examined by researchers.
Among the physical differences of the new species are a notably smaller head and frizzier hair. The Tapanuli orangutans also have a different diet and are found only in higher forest areas.
There is no unified international system for recognizing new species. But to be considered, discovery claims at least require publication in a major scientific publication.
Russell Mittermeier is head of the primate specialist group at the International Union for the Conservation of Nature. He called the finding a “remarkable discovery.” He said it puts responsibility on the Indonesian government to help the species survive.
Matthew Nowak is one of the writers of the study. He told the Associated Press that there are three groups of the Tapanuli orangutans that are separated by non-protected land.He said forest land needs to connect the separated groups.
In addition, the writers of the study are recommending that plans for a hydropower center in the area be stopped by the government.
It also recommended that remaining forest in the Sumatran area where the orangutans live be protected.
I’m Bryan Lynn.'''

# Initialize the HuggingFace summarization pipeline
summarizer = pipeline("summarization")
summarized = summarizer(to_tokenize, min_length=75, max_length=300)

Downloading: 100%|██████████| 1.80k/1.80k [00:00<00:00, 326kB/s]
Downloading: 100%|██████████| 1.22G/1.22G [00:22<00:00, 54.3MB/s]
Downloading: 100%|██████████| 899k/899k [00:01<00:00, 734kB/s]
Downloading: 100%|██████████| 456k/456k [00:03<00:00, 145kB/s]
Downloading: 100%|██████████| 26.0/26.0 [00:00<00:00, 4.77kB/s]
/Users/abhishekvaidyanathan/Library/Python/3.8/lib/python/site-packages/torch/_tensor.py:575: UserWarning: floor_divide is deprecated, and will be removed in a future version of pytorch. It currently rounds toward 0 (like the 'trunc' function NOT 'floor'). This results in incorrect rounding for negative values.
To keep the current behavior, use torch.div(a, b, rounding_mode='trunc'), or for actual floor division, use torch.div(a, b, rounding_mode='floor'). (Triggered internally at  ../aten/src/ATen/native/BinaryOps.cpp:467.)
  return torch.floor_divide(self, other)

In [3]:
summarized

[{'summary_text': ' Scientists say they have discovered a new species of orangutans on Indonesia’s island of Sumatra . The population differs in several ways from the two existing species found in Sumatra and the neighboring island of Borneo . Researchers named the new species the Tapanuli orangutan . Fewer than 800 of the newly-described species exist, making them the most endangered of all great ape species .'}]

In [2]:
import pandas as pd 

data = pd.read_csv("/Users/abhishekvaidyanathan/Desktop/NLP-Assignment1/reviewSelected100.csv")

In [70]:
def remove_stopwords(tokenized_sentence):
    stop_words = set(stopwords.words('english'))
    filtered_sentence = [w for w in tokenized_sentence if not w.lower() in stop_words]
    filtered_sentence = []
    for w in tokenized_sentence:
        if w not in stop_words:
            filtered_sentence.append(w)
    return filtered_sentence

In [71]:
data.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,8aoJJdKEO3ypoZNszpPu7Q,bGgAL09pxLnV_FFgR4ZADg,ZBE-H_aUlicix_9vUGQPIQ,5,0,0,0,We had my Mother's Birthday Party here on 10/2...,2016-11-09 20:07:25
1,J5NOCLdhuhor7USRhtYZ8w,pFCb-1j6oI3TDjr26h2cJQ,e-YnECeZNt8ngm0tu4X9mQ,4,0,0,0,Good Korean grill near Eaton Centre. The marin...,2015-12-05 05:06:43
2,PXiLWAYRt3xnHaJ8MB4rzw,mEzc6LeTNiQgIVsq3poMbg,j7HO1YeMQGYo3KibMXZ5vg,5,2,1,3,Was recommended to try this place by few peopl...,2014-10-11 05:16:15
3,VrLarvxZYJm74yAqtpe9PQ,o-zUN2WEZgjQS7jnNsec0g,7e3PZzUpG5FYOTGt3O3ePA,3,0,0,0,Ambience: Would not expect something this nice...,2016-07-25 03:45:26
4,C1CUpidlVFprUCkApqzCmA,Wlx0iBXJvk4x0EeOt2Bz1Q,vuHzLZ7nAeT-EiecOkS5Og,1,11,0,3,Absolutely the WORST pool company that I have ...,2016-04-11 18:49:11

In [72]:
def summarize_sentences(sentence):
    summarized_sentence = summarizer(sentence,max_length=400)
    return summarized_sentence

In [73]:
def replace_tags(sentence):
    sentence.replace('\r','')
    # print(new)
    sentence.replace('\n','')
    # print(sentence)
    return sentence

In [74]:
replace_tags("hello \r\n\r")

'hello \r\n\r'

In [76]:
combined_reviews = data.groupby(['business_id'], as_index = False).agg({'text': '. '.join})
combined_reviews.text = combined_reviews.text.apply(lambda x: x.replace('\n', ''))
combined_reviews.text = combined_reviews.text.apply(lambda x: x.replace('\r', ''))
combined_reviews["cleaned_text"] = combined_reviews.apply(lambda row: remove_stopwords(row['text']),axis=1)

In [77]:
combined_reviews

,business_id,text,cleaned_text
0,--I7YYLada0tSLkORTHb5Q,"Had to get my wing fix, I like dry rubs on win...","[H, , , g, e, , , w, n, g, , f, x, ,, , ..."
1,-7XWJYkutqhIxLen7Grg1g,Definite recommend. But I never would have kno...,"[D, e, f, n, e, , r, e, c, e, n, ., , B, u, ..."
2,0Rni7ocMC_Lg2UH0lDeKMQ,We love Barros!! Usually go to other locations...,"[W, e, , l, v, e, , B, r, r, !, !, , U, u, ..."
3,0kPm1zEpeXFRg8D2phqgCQ,"Coffee is exponentially better than Starbucks,...","[C, f, f, e, e, , , e, x, p, n, e, n, l, l, ..."
4,1Fpk8ibHhZYnCw8fnGny8w,Really love the food here! I was a HUGE fan of...,"[R, e, l, l, , l, v, e, , h, e, , f, , h, ..."
...,...,...,...
148,yHHVKa9joZAKiBDUp2SkKw,"This coffee shop has great coffee, but more im...","[T, h, , c, f, f, e, e, , h, p, , h, , g, ..."
149,z8Em-bhZI3Mmspml7tj6tg,This was the first time and probably the last ...,"[T, h, , w, , h, e, , f, r, , e, , n, , ..."
150,zPEYgVqJ2QNKi45FJi2jvg,Stopped by here for lunch yesterday. What a d...,"[S, p, p, e, , b, , h, e, r, e, , f, r, , ..."
151,zZ7KDK3GAkBUZzsaqB1A4Q,"Staff is SO friendly, I was checked in on once...","[S, f, f, , , S, O, , f, r, e, n, l, ,, , ..."
152,z_RTK0MaxaRHRQ99hDL2QA,So so good. I am a big fan of the NY style piz...,"[S, , , g, ., , I, , , , b, g, , f, n, ..."

In [54]:
# combined_reviews['summarized_text'] = combined_reviews.apply(lambda row: summarize_sentences(row['text']),axis=1)
summarized_text = []
for row in range(len(combined_reviews)):
    try:
        summarized_text.append(summarize_sentences(combined_reviews.iloc[row]['text']))
    except:
        continue

In [55]:
summarized_text

[]

In [58]:
a = [1,2,None,None]

In [67]:
s = [0,1,2,500]
# s.add(200)
s.append(200)
print(set(s))

{0, 1, 2, 200, 500}

In [62]:
a

{1, 2, 3}

In [63]:
list(a)

[1, 2, 3]